<!doctype html>
<title>Mockserver</title>

<h2>Endpoint Definitions</h2>

<form action="/mockserver/addMockEndpoint" method="POST">
 <table border="2">
  <tr>
   <th>Flavor</th>
   <th>Description</th>
   <th>Method</th>
   <th>Path</th> 
   <th>Result</th>
  </tr>

  <tr>
   <td />
   <td />
   <td />
   <td>e.g.: /yourpath?queryParem1=qp1&queryParam2=qp2#fragment1</td>
   <td>e.g.: {result: {"key1":"value1"}{"key2":"value2"}}</td>
  </tr>

  <tr>
    <td><input type="text" size="20" id="flavor" name="flavor" rows="10" cols="20" /></td>
    <td><textarea id="description" name="description" rows="10" cols="30"></textarea></td>
   <td>
    <select name="method" id="method">
     <option>POST</option>
     <option selected>GET</option>
    </select>
   </td>
   
   <td><input type="text" size="60" id="request" name="request" rows="10" cols="100" /></td>
   <td><textarea id="response" name="response" rows="10" cols="100"></textarea></td>
  </tr>
 </table>
 <button type="reset">Felder zurücksetzen</button>
 <button type="submit">Endpunkt speichern</button>
</form>

<br>
<input type="button" onclick="window.open('/mockserver/listAllMockEndpoints','_blank','resizable=yes')" value="Liste aller Endpunkte"/>
<form action="/mockserver/searchMockEndpoint" method="POST">
  <td><input type="text" size="60" id="path" name="path" value="path3" rows="10" cols="100" /></td>
  <button type="search">Suchen</button>
</form>
