<!doctype html>
<html>
<head>
  <title>Mockserver</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class=page>
  <h1>Mock-Endpoints</h1>

    <table>
    <tr>
    <th></th>
    <th>ID</th>
    <th>timestamp</th>
    <th>creation</th>
    <th>flavor</th>
    <th>description</th>
    <th>method</th>
    <th>path</th>
    <th>response</tr>
    </tr>
    {% for item in items %}
    <TR>
    <TD class="c1"><IMG src="/static/{{item.logo}}" alt="a logo" height="26"></TD>
    <TD class="c2">{{item.id}}</TD>
    <TD class="c3">{{item.timestamp}}</TD>
    <TD class="c4">{{item.creation}}</TD>
    <TD class="c5"><SPAN>{{item.flavor}}</SPAN></TD>
    <TD class="c6"><SPAN>{{item.description}}</SPAN></TD>
    <TD class="c7"><SPAN>{{item.method}}</SPAN></TD>
    <TD class="c8"><SPAN>{{item.path}}</SPAN></TD>
    <TD class="c9"><SPAN>{{item.response}}</SPAN></TD>
    </TR>
    {% endfor %}
    </table>
</div>
</body>
</html>